.search{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

table, th {
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    height: 60px;
  }
  td{
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
    height: 30px;
  }
  .thead{
   background-color: black;
   color: rgb(255, 255, 255);
   font-size: large;
  }

.left{
  float: left;
}
.right{
  float: right;
}
.btn1{
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #47a15c; 
  border-radius: 2px;
  padding: 5px 12px;
  transition-duration: 0.4s;
}
.btn1:hover {
  background-color: #47a15c; /* Green */
  color: white;
}
.btn2{
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #cc4b46; 
  border-radius: 2px;
  padding: 5px 12px;
  transition-duration: 0.4s;
}
.btn2:hover {
  background-color: #cc4b46; /* Green */
  color: white;
}
.search-btn{
  background-color: white;
  color: black;
  border: 2px solid #5fa3f1; 
  transition-duration: 0.4s;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 2px;
}
.search-btn:hover {
  background-color: #5fa3f1; /* Green */
  color: white;
}
.clear-btn{
  background-color: white;
  color: black;
  border: 2px solid #e6cd5f; 
  transition-duration: 0.4s;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 2px;
}
.clear-btn:hover {
  background-color: #e6cd5f; /* Green */
  color: white;
}