<p>table works!</p>
<table id="t" type ="table"style="width:100%">
    <tr>
        <th style="width:20%">Sender</th>
        <th>Subject</th>
    </tr>
    <tr *ngFor ="let item of emails">
        <td>{{item.name}}</td>
        <td>{{item.subject}}</td>
        <td>
            <button class="btn btn-primary" (click)="view(item.id)" >View</button>
            <button class="btn btn-danger">Delete</button>
        </td>
    </tr>
  
  </table>
  <div>
    <h1>{{messageview}}</h1>
    <button (click)="viewNext('{{lastId}}')">Next</button>
  </div>
 
  