<app-navigation-bar></app-navigation-bar>
<form class="form-inline md-form mr-auto mb-4">
  <input class="search" id="search"type="text" style="margin:5px;" placeholder="Search" >
  <button  class="search-btn" style="margin:5px;" (click)="Search()">Search</button>
  <button class="clear-btn" (click)="getinbox()">clear</button>
  <select id="sort" name="sort" class="dropdown1"  (change)="SortBy()">
    <option value="" disabled selected>Sort By</option>
    <option value="none">None</option>
    <option value="date">Date</option>
    <option value="sender">Sender</option>
    <option value="subject">Subject</option>
    <option value="priority">Importance</option>
    <option value="body">Body</option>
    <option value="attachment">Attachments</option>
  </select>

  <button  class="search-btn" (click)="filterBy()">Filter</button>
  <button *ngIf="filter" class="clear-btn" (click)="filterConfirmation()" style="margin-left: 0.5%;">Confirm </button>
  <br>
  <div style="margin-left: 60%;">
  <input *ngIf="senderFlag" type="checkbox" (change)="joinFilterBySender($event)" >
  <label *ngIf="senderFlag" style="color: white;">By Sender</label>
  <input type="text" id="senderFilter" *ngIf="confirmsenderFlag" placeholder="Sender">
  <br>
  <input *ngIf="subjectFlag" type="checkbox" (change)="joinFilterBySubject($event)">
  <label *ngIf="subjectFlag" style="color: white;">By Subject</label>
  <input type="text" id="subjectFilter" *ngIf="confirmsubjectFlag" placeholder="Subject">
  <br>
  <input *ngIf="priorityFlag" type="checkbox" (change)="joinFilterByPriority($event)">
  <label *ngIf="priorityFlag" style="color: white;">By Priority</label>
  <select *ngIf="confirmpriorityFlag" name="Priority" id="priority" >
    <option value="Urgent">Urgent</option>
    <option value="High">High</option>
    <option value="Medieum">Medium</option>
    <option value="low">Low</option>
  </select>
  </div>
  
</form>

 
<div style="display: flexbox;">
  
<table id="t" class="left" type ="table"style="width:45% , margin:5px:" >
    <thead class="thead">
    <tr>
     <!--  <th style="width: 50px">Select</th>-->
        <th style="width:130px">Sender</th>
        <th style="width:410px">Subject</th>
        <th style="width:129px"></th>
        
    </tr>
       </thead>


    <tr *ngFor ="let item of emails">
       <!-- <td><input type="checkbox" (change)="toggleEditable($event,item.id)"></td>--> 
        <td>{{item.fromEmail}}</td>
        <td>{{item.subject}}</td>
        
            <button  type="submit" class="btn1" style="margin:2px;" (click)="view(item.id)" >View</button>
            <button  type="button" class="btn2" (click)="delete(item.id)" >Delete</button>
        
    </tr>
</table>

<button *ngIf="isSomethingSelected"  (click)="multipleMails()">Delete Selected</button>


<div class="right">
  <div class="mailup" style="color: aliceblue;">
    <div></div>
    <p>
      Mail 
    </p>
  </div>
  <div style="color: white; background-color: grey;">
      <br> <br><br>
     
    <h1>{{messageviewsender}}</h1>
    <p>{{messageviewsubject}}</p>
    <p>{{messageviewdate}}</p>
    <p>{{messageviewpriority}}</p>
    <p>{{messageviewmail}}</p>
    <div *ngFor ="let item of messageviewattachment">
    <p  > <a href="{{item}}"target="_blank" rel="noopener noreferrer">{{item}}</a></p>
  </div>
   <button (click)="viewNext(lastId)">Next </button>
   <button (click)="viewPrev(lastId)">Previous</button>

  </div>
  <div style="display: none;">
    {{lastId}}
  </div>
</div>
</div>
