
<form class="form-inline md-form mr-auto mb-4">
  <input class="search" type="text" style="margin:5px;" placeholder="Search" >
  <button class="search-btn" style="margin:5px;">Search</button>
  <button class="clear-btn" >clear</button>
</form>

<table id="t" type ="table"style="width:100%">
    <thead class="thead">
    <tr>
        <th style="width:20%">Sender</th>
        <th style="width:60%">Subject</th>
        <th style="width:60%"></th>
    </tr>
       </thead>
    <tr *ngFor ="let item of emails">
        <td >{{item.name}}</td>
        <td>{{item.subject}}</td>
        
            <button  type="button" class="btn1" style="margin:2px;" (click)="view(item.id)" >View</button>
            <button  type="button" class="btn2" (click)="delete(item.id)" >Delete</button>
        
    </tr>
  
  </table>

  <div style="display: none;">
    {{lastId}}
  </div>
  <div>
     
    <h1>{{messageview}}</h1>

    <button (click)="viewNext(lastId)">Next</button>
  </div>
 
  