
<div class="background">
  <br><br>
    <p style="color: white;">Sending an Email</p>
    <div class ="container">
      <br>
    <label for="priority" style="color: white;">Choose your mail Priority:</label>
    
      <select name="Priority" id="priority" >
      <!--  <option value="{{x}}" disabled selected>{{x}}</option>--> 
        <option value="Urgent">Urgent</option>
        <option value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select>
    
    
  
  <br><br>
    <form>
      <div>
    <textarea name="to" id="Too" cols="100" rows="1"placeholder="example@oop" style="margin-left: 10px ;">{{to}}</textarea>
    </div>
    <br> 
    <textarea name="subject" id="Subj" cols="100" rows="1" placeholder="Subject" style="margin-left: 10px ;">{{sub}}</textarea>
    <br> 
    <textarea name="text" id="Text" cols="100" rows="20" placeholder="Mail"style="margin-left: 10px ;">{{text}}</textarea>
    <br> 
   
    <app-file-upload (link)="attach=$event"></app-file-upload>
 
    <button (click)="mail1()">Send</button>
  </form>
  </div>
</div>