
<div>
    <p>Sending an Email</p>
    <br>
    <label for="priority">Choose your mail Priority:</label>
    <select name="Priority" id="priority">
    <option value="Urgent">Urgent</option>
    <option value="High">High</option>
    <option value="Medieum">Medieum</option>
    <option value="low">Low</option>
  </select>
    <br> <br>
    <textarea name="to" id="Too" cols="100" rows="1"placeholder="example@oop"></textarea>
    <br> <br> 
    <textarea name="subject" id="Subj" cols="100" rows="1" placeholder="Subject"></textarea>
    <br> <br>
    <textarea name="text" id="Text" cols="100" rows="20" placeholder="Mail"></textarea>
    <br> <br>
   
    <app-file-upload (link)="attach=$event"></app-file-upload>

    <button (click)="mail1()">Send</button>
</div>