<!--<app-navigation-bar></app-navigation-bar>-->
<div class="form-inline md-form mr-auto mb-4">
    <input class="search" type="text" style="margin:5px;" placeholder="Search" >
    <button  class="search-btn" style="margin-right: 10px;">Search</button>
    <select id="sort" name="sort" class="dropdown1"  (change)="SortBy()">
      <option value="" disabled selected>Sort By</option>
      <option value="none">None</option>
      <option value="date">Contact</option>
    </select>
    <button class="open-button" (click)="openForm() ">Add Contact</button>

</div>

  
  
  <div style="display: flexbox;">
    
  <table id="t" class="left" type ="table"style="width:45% , margin:5px:" >
      <thead class="thead">
      <tr>
          <th style="width:130px">Name</th>
          <th style="width: 550px;">Mail</th>
          
          
          
      </tr>
         </thead>
      <tr *ngFor ="let item of Contacts" style="color: white; background-color: grey;" >
            <td>{{item.name}}</td>
             <td>
              <div *ngFor ="let x of item.Accounts">
                {{x}} &nbsp; &nbsp; &nbsp;
                <a routerLink="/NewMail" routerLinkActive="active" (click)="msg(x)" >send mail</a> 
            </div>
             </td>
          </tr>
  </table>

  <div class="form-popup" id="myForm">
    <div  class="form-container">
      <h1>New Contact</h1>
  
      <label for="email"><b>Name</b></label>
      <input type="text" placeholder="Name" name="email" id="Name"required>
  
      <label for="psw"><b>Mail</b></label> &nbsp; &nbsp;
      <button (click)="NewInput()">+</button>
     <input  type="text" placeholder="Enter E-mail" (onchange)="toggle()" name="psw" id="Mail" required> 
      <div *ngIf ="anotherMail" >
        <input  type="text" placeholder="Enter E-mail" name="psw" id="Mail" required>
      </div>
      <button  class="btn" (click)="newContact()">Add</button>
      <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
    </div>
  </div>
  
  
  
  