<nav>
  
  <ul>
      <li><a routerLink="/Contacts" routerLinkActive="active">Contacts</a></li>
      <li><a routerLink="/table" routerLinkActive="active">Inbox</a></li>
      <li><a href=>Trash</a></li>
      <li><a href=>Sent</a></li>
      <li><a routerLink="/Draft" routerLinkActive="active">Draft</a></li>
      <li><a routerLink="/NewMail" routerLinkActive="active">New mail</a></li>
      <li #newFolder *ngIf="f" > <a routerLink="/createFolder" routerLinkActive="active"> {{f}}</a></li> 
      
      <li>
        <textarea id="in">{{f}}</textarea>
        <button (click)="addFolder()">+</button>
      </li>
    </ul>
      
</nav>
<router-outlet></router-outlet>
